<div ngCombobox readonly>
  <div #origin class="select-trigger">
    @if (displayIcon()) {
      <span class="select-icon">{{ displayIcon() }}</span>
    }
    <span class="select-value">{{ displayValue() }}</span>
    <input aria-label="Label select" placeholder="Select a label" ngComboboxInput />
    <span class="select-arrow">▼</span>
  </div>

  <ng-template
    [cdkConnectedOverlay]="{origin, usePopover: 'inline', matchWidth: true}"
    [cdkConnectedOverlayOpen]="true"
  >
    <ng-template ngComboboxPopupContainer>
      <div class="select-popup">
        <div ngListbox>
          @for (label of labels; track label.value) {
            <div ngOption [value]="label.value" class="option-with-icon">
              <span class="option-icon">{{ label.icon }}</span>
              <span class="option-text">{{ label.value }}</span>
              <span class="option-check">✓</span>
            </div>
          }
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
